<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no"/><!-- "position: fixed" fix for Android 2.2+ -->
		<link rel="stylesheet" href="style.css" type="text/css" media="screens"/>
		<link rel="stylesheet" href="style-screen.css" type="text/css" media="screen"/>
		<link rel="stylesheet" href="style-print.css" type="text/css" media="print"/>
		<title>Republic of Ireland Squad</title>
  	<link rel="stylesheet" href="/css/bootstrap.min.css">
  	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			<style>
				body {
					padding-top: 60px;
					padding-bottom: 60px;
				}

				table,
				th,
				td {
					border-collapse: collapse;
					border: 1px solid black;
					text-align: center;
				}
			</style>
			<script src="/js/jquery.min.js"></script>
			<script src="/js/bootstrap.min.js"></script>
		<script src="/js/jquery.tabletojson.js"></script>
			<script>
				function load() {
					$.ajax({
						url: "/get/html",
						cache: false,
						success: function(html) {
							$("#results").append(html);
						}
					});
				};

				$(document).ready(function() {
					load();
				});
		</script>
	</head>
	<body>
		<!-- hidden div element needed for hover -->
    <div id="hover-div" style="visibility:hidden; position:absolute; top:0; left:0;"></div>
				<div class="container">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
      </div>
    </div>
    <div class="page-header">
      <h1>Republic of Ireland Squad</h1>
    </div>
    <div class="row">
      <div id="results" class="span8">
      </div>
      <div class="span4">
        <ul class="nav nav-list well">
          <li>
            <form enctype='application/json' action="/post3/json" method="post">
              <div class="field">
                <input type="text" name="Position" placeholder="Position">
              </div>
              <div class="field">
                <input type="text" name="Name" placeholder="Name">
              </div>
              <div class="field">
                <input type="text" name="Squad_No" placeholder="Squad Number">
              </div>
              <div class="field">
                <input type="text" name="Club" placeholder="Club">
              </div>
              <div class="field">
                <input type="text" name="Age" placeholder="Age">
              </div>
              <div class="field">
                <button type="submit">Submit</button>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <h1><a href="squads.html">Squads</a></h1>
		
		<br><br><br>
	</body>
</html>